h1 {
	font-family:Tahoma;
	padding:20px;
}
a {
	color:black;
}
.header {
	text-align: center;
	background: #20b2aa;
	color: white;
	font-size: 80%;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
}
body {
	font-family:Tahoma;
	text-align:center;	
}
nav {
	display:block;
}
ul {
	display:table;
	margin:0 auto;
}
img {
	border:5px solid #20b2aa;
	border-radius:10%;
	padding:10px;
	width:5%;
}
p {
	font-family:Tahoma;
	padding:40px;
}
a:hover {
	color:#20b2aa;
	background-color:#E1E5F2;
}
a:visited {
	text-decolation:none;
}
#number {
	background-color: #96EDE7;
	border: 2px #F0E6EF;
}
button {
	color: white;
	background-color:#20b2aa;
}
