h1 {
	font-family:Tahoma;
	padding:20px;
}
a {
	color:black;
}
.header {
	text-align: center;
	background: #F7BB7D;
}
body {
	font-family:Tahoma;
	text-align:center;	
}
nav {
	display:block;
}
ul {
	display:table;
	margin:0 auto;
}
img {
	border:5px solid #F7BB7D;
	border-radius:10%;
	padding:10px;
	width:5%;
	min-width:50px;
}

svg {
	border:5px solid #F7BB7D;
	border-radius:10%;
	padding:10px;
	width:5%;
}
.gallery_img {
	width: 45%;
}
.column {
	padding: 5px;
	flex: 50%;
}
.row {
	padding: 10px;	
	display: flex;
}
.img_content {
	text-align: center;
	position: absolute;
	width: 48%;
	align-items: center;
	top: 10%;
	left: 25%;
	right: 10%;
	bottom: 10%;
	/*comment*/
}
.container {
	position: relative;
	text-align: center;
}
p {
	font-family:Tahoma;
	padding:40px;
}
a:hover {
	color:#F7BB7D;
	background-color:#E1E5F2;
}
a:visited {
	text-decoration:none;
}
