h1 {
	font-family:Tahoma;
	padding:20px;
}
a {
	color:black;
}
.header {
	text-align: center;
	background: #20b2aa;
	color: white;
	font-size: 80%;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
}
body {
	font-family:Tahoma;
	text-align:center;	
}
nav {
	display:block;
}
ul {
	display:table;
	margin:0 auto;
}
img {
	border:5px solid #20b2aa;
	border-radius:10%;
	padding:10px;
	width:5%;
}

svg {
	border:5px solid #20b2aa;
	border-radius:10%;
	padding:10px;
	width:5%;
}
.gallery_img {
	width: 45%;
}
.column {
	padding: 5px;
	flex: 50%;
}
.row {
	padding: 10px;	
	display: flex;
}
.img_content {
	text-align: center;
	background-color: rgba(31, 173, 166, 0.2);
	position: absolute;
	width: 48%;
	align-items: center;
	top: 10%;
	left: 25%;
	right: 10%;
	bottom: 10%;
	/*comment*/
}
.container {
	position: relative;
	text-align: center;
}
p {
	font-family:Tahoma;
	padding:40px;
}
a:hover {
	color:#20b2aa;
	background-color:#E1E5F2;
}
a:visited {
	text-decolation:none;
}
#number {
	background-color: #96EDE7;
	border: 2px #F0E6EF;
}
button {
	color: white;
	background-color:#20b2aa;
}
