body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text] {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 100px;
  margin: 1.5%;
}

button[name="zero"] {
    background-color: #4682b4;
}

button[name="one"] {
    background-color: #e9967a;
}

button[name="two"] {
	background-color: #800080;
}

button[name="three"] {
	background-color: #db7093;
}

button[name="four"] {
	background-color: #20b2aa;
}

button[name="five"] {
	background-color: #66cdaa;
}

button[name="six"] {
	background-color: #ffc0cb;
}

button[name="seven"] {
	background-color: #f5deb3;
}

button[name="eight"] {
	background-color: #f4af60; 
}

button[name="nine"] {
	background-color: #ffdab9;
}

button[name="ten"] {
	background-color: #ffb6c1;
}

button[name="eleven"] {
	background-color: #ffe4e1;
}

button[name="hint"] {
    background-color: DimGray;
    height: 40px;
}

button[name="submit"] {
    background-color: #04AA6D;
    height: 40px;
}
/*button color? https://www.shutterstock.com/blog/trends/color-trends */

div[name="question"] {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    height: 200%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  background-color:#f1f1f1;
  text-align: center;
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

.Hint {
  border: 1mm solid;
  border-color: #e5e5e5;
  width: 24%;
  background-color: #e5e5e5;
  margin-top: 350px;
  min-height: 50px;
  position: fixed;
  right: 0px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
